[flake8]
select = A,ANN,AZ,B,B9,BLK,C,C1,C4,C8,CCR,CFQ,D,DAR,E,E8,ECE,F,FS,JS,M,MOD,N4,N8,P,PT,Q,R,S,SIM,TAE,VNE,W,YTT
application-names = quendor,tests
docstring-convention = google
no-accept-encodings = True
inline-quotes = double
max-line-length = 90
strictness = short
show-source = True
statistics = True

htmldir = htmllint
htmltitle = Quendor Lint Report

per-file-ignores =
    # Missing docstring in public package
    */__init__.py:D104

    # Missing docstring in public module
    */__version__.py:D100

    # '.format' used
    src/quendor/errors.py:FS002

    # Cognitive complexity is too high (8 > 7)
    # Function "provide_zcode" has 4 returns that exceeds max allowed 3
    src/quendor/scripts/downloader.py:CCR001,CFQ004

ignore =
    # Missing type annotation for self in method
    ANN101

    # Missing docstring in __init__
    D107

    # No blank lines allowed after function doctring.
    D202

    # Multi-line docstring summary should start at the first line
    D212

    # Consider possible security implications associated with subprocess module.
    S404

    # Subprocess call - check for execution of untrusted input.
    S603
